* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    font-size: 1.2rem;
    background: #F2F2F2;
}

.main {
    width: 100%;
}

h1, #questionText, #score {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#getQuestion, .buttons {
    margin: 10px 0;
}
/* Progress Bar */
.progressUI {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.progressBar {
    width: 100%;
    background-color: grey;
    border-radius: 7px;
}

#scoreBar {
    width: 0%;
    height: 30px;
    background-color: #004094;
    text-align: center;
    line-height: 30px;
    color: white;
}

.attempts {
    text-align: center;
}
/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.overlay-inner {
    text-align: center;
}

body.overlay-is-open .overlay {
    visibility: visible;
}

.end-message {
    font-size: 1.5rem;
    margin-top: 0;
}

/* Style Buttons */
.reset-button, #trueAnswer, #falseAnswer, #getQuestion {
    background-color: #004094;
    color: white;
    border-radius: 7px;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
}

