* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1, #questionText, #score {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#getQuestion, .buttons {
    margin: 10px 0;
}
/* Progress Bar */
.progressUI {
    width: 80%;
    margin: 0 auto;
}

.progressBar {
    width: 100%;
    background-color: lightgrey;
    border-radius: 7px;
}

#scoreBar {
    width: 0%;
    height: 30px;
    background-color: #004094;
    text-align: center;
    line-height: 30px;
    color: white;
}
/* Overlay */
